body{
    background-color: yellow;
}

@media screen and (min-width:1000px) {
    body{
        background-color: skyblue;
    }
    .sp{
        display: flex;
    }
}

@media screen and (max-width:500px) {
    body{
        background-color: yellow;
    }
}

.img{
    background-color: white;
    width: 400px;
    margin: 10px 40px;
}